<div class="jumbotron">
	<div class="container">
		<h1><%= @author.first_name %><%=" "%><%= @author.last_name %></h1>
    <p>Book(s): <% @author.books.each do |book| %>
      <h3><%=book.title %> Pages: <%=book.pages%></h3>
          <%book.authors.each do |author|%>
            <%if author != @author %>
          Other Author(s): <%=author.first_name%> <%=" "%> <%=author.first_name%>
        <br>
        <% end %>
        <%review = book.sort_reviews(:asc).last%>
        <%if !book.reviews.empty?%>
        <p> Highest Rated Review:</p>
        <p>Title: <%=review.title%><p>
        <p>Score: <%=review.score%><p>
        <p>User: <%=review.user.username%><p>
          <%else%> <p>No Reviews</p>
        <%end%>
      <%end%>
    <%end%>
    </p>
		<br>
		<p><%= link_to 'destroy', author_path(@author.id), method: :delete %></p>
	</div>
</div>
