<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Book Club</title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
  </head>
<body>
  <nav class="navbar navbar-inverse navbar-static-top">
  	<div class="container">
  		<div class="navbar-header">
  			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
  				<span class="sr-only">Toggle navigation</span>
  				<span class="icon-bar"></span>
  				<span class="icon-bar"></span>
  				<span class="icon-bar"></span>
  			</button>
  			<a class="navbar-brand" href="http://localhost:3000/books">Book Club</a>
  		</div>
  		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
  			<ul class="nav navbar-nav navbar-right">
          <li><a href="http://localhost:3000/books/new">Add New Book</a></li>
  			</ul>
  		</div>
  	</div>
  </nav>
  <div class="jumbotron">
  	<div class="container">
  		<h1>Welcome to the Book Database</h1>
  		<h3>Book Statistics:</h3>
  		<p>Put statistics here:</p>
  		<br>
  		<p><a class="btn btn-primary btn-lg" href="#" role="button">Some sort of button</a> <a class="btn btn-primary btn-lg" href="#" role="button">Another »</a></p>
  	</div>
  </div>

  <div class="container">
    <% @books.each do |book| %>
    	<div class="row">
    		<div class="col-md-2">
          <p>Title: <%= book.title %></p>
          <p># of Pages: <%= book.pages %></p>
          <p>Publicatuon Year: <%= book.year %></p>
          <p>Rating: <%= book.average_score %><p>
          <p>Total Reviews: <%= book.reviews_count %><p>
          <p><i>Author(s):</i></p>
          <%book.authors.each do |author|%>
          <div class="col-md-2">
            <div class="breakdown">
              <p><b><%= author.first_name + " " + author.last_name %></b></p>
          <% end %>
            </div>
          </div>
    		</div>
    	</div>
    <% end %>
  </div>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
</body>

</html>
