<h1> Welcome to the Book Database </h1>

<% @books.each do |book| %>
  <p>Title: <%= book.title %></p>
  <p># of Pages: <%= book.pages %></p>
  <p>Publicatuon Year: <%= book.year %></p>
  <p>Author(s): <%book.authors.each do |author|%>
     <%= author.first_name + " " + author.last_name %></li> <%end%>
     <p>Rating: <%= book.average_score %><p>
     <p>Total Reviews: <%= book.reviews_count %><p>

  <% end %>
